/* Все можем */

@-webkit-keyframes color-change {
    0% { color: yellow; }
    50% { color: black; }
    100% { color: yellow; }
}
@-moz-keyframes color-change {
    0% { color: yellow; }
    50% { color: black; }
    100% { color: yellow; }
}
@-ms-keyframes color-change {
    0% { color: yellow; }
    50% { color: black; }
    100% { color: yellow; }
}
@-o-keyframes color-change {
    0% { color: yellow; }
    50% { color: black; }
    100% { color: yellow; }
}
@keyframes color-change {
    0% { color: yellow; }
    50% { color: black; }
    100% { color: yellow; }
}

@-webkit-keyframes color-change-alt {
    0% { background-color: black; }
    50% { background-color: yellow; }
    100% { background-color: black; }
}
@-moz-keyframes color-change-alt {
    0% { background-color: black; }
    50% { background-color: yellow; }
    100% { background-color: black; }
}
@-ms-keyframes color-change-alt {
    0% { background-color: black; }
    50% { background-color: yellow; }
    100% { background-color: black; }
}
@-o-keyframes color-change-alt {
    0% { background-color: black; }
    50% { background-color: yellow; }
    100% { background-color: black; }
}
@keyframes color-change-alt {
    0% { background-color: black; }
    50% { background-color: yellow; }
    100% { background-color: black; }
}

/* Две полосочки */

.pompous {
	margin: auto;	
	background-color: yellow;
	
	-webkit-animation: color-change-alt 1s infinite;
    -moz-animation: color-change-alt 1s infinite;
    -o-animation: color-change-alt 1s infinite;
    -ms-animation: color-change-alt 1s infinite;
    animation: color-change-alt 1s infinite;
}

.pompous-label {
	-webkit-animation: color-change 1s infinite;
	-moz-animation: color-change 1s infinite;
	-o-animation: color-change 1s infinite;
	-ms-animation: color-change 1s infinite;
	animation: color-change 1s infinite;
	font-family: "Calibri", sans-serif;
	font-size: 500%;
	font-weight: bold;
	color: #000;
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
	top: 50%;
	left: 0;
	transform: translate(0,-25%);
}

.animationStripes{
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 0% 100%, 2.5% 100%, 2.5% 5%, 97.5% 5%, 97.5% 95%, 2.5% 95%, 2.5% 100%, 100% 100%, 100% 0%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 2.5% 100%, 2.5% 5%, 97.5% 5%, 97.5% 95%, 2.5% 95%, 2.5% 100%, 100% 100%, 100% 0%);
	background-image: repeating-linear-gradient(-45deg, rgb(0, 0, 0), rgb(0, 0, 0) 25px, yellow 25px, yellow 50px);
	animation: progress 2s linear infinite;
	background-size: 150% 100%;
	border-radius: 20px;
	border: 20px;
}

@-webkit-keyframes progress{
  0% { background-position: 0 0; }
  100% {  background-position: -75px 0px; }
}
@-moz-keyframes progress{
  0% { background-position: 0 0; }
  100% { background-position: -75px 0px; }
}    
@-ms-keyframes progress{
  0% { background-position: 0 0; }
  100% { background-position: -75px 0px; }
}    
@keyframes progress{
  0% { background-position: 0 0; }
  100% { background-position: -70px; }
} 

/* Slide */

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	
	-webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	
	-webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}		
	100% {
		transform: translateY(-200%);
	}		
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(-200%);
	}	
}